
@media only screen and (max-width: 600px) {
/*@media (min-width:320px){*/

.width700{
    width: 100%;
}
.marginTopMob15{
    margin-top: 15px;
}
.sectionPadding {
    padding: 40px 0;
}
.orderTow{
    order: 2;
}
.orderOne{
    order: 1;
}
.border25{
    border:10px solid #255946;
}




.container {
    max-width: calc(100% - 15px) !important;
}
.navbarListWrap {
    z-index: 99;
    /*padding: 0 5px 15px;*/
     margin-left: -0px; 
     margin-right: -0px; 
}




.topheader ul li a {
    font-size: 12px;
}
.topheader ul li a {
    padding: 5px 0px;
}
.main-slider {
    height: 505px!important;
    overflow: hidden;
}
.main-slider .swiper-slide h1{
    font-size: 39px;
}

.leftSide ul{
    display: flex;
    justify-content: space-between;
}
.mainMenu .container{
    /*margin: 0;*/
}
  .mainMenu::after{
    display: none;
  }
  /*.mainMenu::after{

  }*/
  .SliderBotSec::before {
    top: -14px;
}
.SliderBotSec::after {
    bottom: -14px;
    }

.SliderBotSec h2{
    font-size: 18px;
}
.SliderBotSec p{
    font-size: 13.5px;
}
.downloadBtnWrap{
    text-align: center!important;
    margin-top: 18px;
}

  .sliderTimeline .timelineBoxWrap .imgWrap {
    height: 215px;
  }
  .sliderTimeline .timelineBoxWrap .imgWrap .circleImg {
    width: 160px;
}
  .sliderTimeline .timelineBoxWrap .imgWrap .iconImg {
    margin: -166px 153px;
    z-index: 99;
    width: 45px;
  }
  
.aboutSection .experienceBox {
    width: 183px;
    padding: 11px 15px 5px;
    text-align: center;
    margin-top: -44px;
    position: absolute;
    right: 0%;
}
.aboutSection .experienceBox h2 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 2px;
}
.aboutSection .experienceBox h3 {
    font-size: 13px;
}
.sectionHeadAbout {
    margin-top: 20px;
}
.aboutSection .sectionHeadAbout h2 {
    font-size: 27px;
    margin-bottom: 0px;
}
.aboutSection .sectionHeadAbout h3 {
    font-size: 22px;
    margin-top: 17px;
}
.aboutSection .aboutDesc{
    margin-top: 13px;
}
.sectionHead h2{
    font-size: 35px;
}
.sectionHead h2 {
    margin-bottom: 30px;
}




  .whyChooseSectionInner{
    margin-top: -50px;
  }



.productContainer .productBoxWrap .productContent {
    position: relative;
    top: 0%;
    /* left: 50%; */
    right: 0px;
    left: 0px;
    transform: translateY(0%);
}
.productBoxWrap {
    padding: 23px 5px;
}
.productContent h3 {
    line-height: 1.2;
    font-size: 20px;
}
/*.productContent h2 {
    font-size: 24px;
}*/
.productContent .prodDesc {
    font-size: 13px;
}
.productSection .sectionHead{
    margin-bottom: 5px!important;
}

.whyChooseSection .width700 {
    width: 100%;
}

.contactSection .sectionHead p{
    width: 100%;
}
.contactSection .contactLeft h5 {
    font-size: 25px;
}






.blogDetail.blogCard .blogCardImage img {
    height: 210px;
}
.recentBlogSingle h3 {
    font-size: 16px;
}
.recentBlogSingle img {
    width: 60px;
    height: 60px;
}





.callWhatsapp .contact-whatsapp {
    width: 55px;
    position: fixed;
    bottom: 6%;
    right: 15px;
    z-index: 9999;
    display: inline-block;
    animation: up-down 1s infinite;
}







footer .footerSocialIcon ul li a i {
    color: #fff;
    padding: 10px;
    background-color: #059862;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
}
footer .footerSocialIcon{
    display: flex;
}
footer .footerSocialIcon ul{
    display: inline-block;
    margin: 0 auto!important;
}
footer .footerBottomSec p {
    font-size: 12.5px;
    margin-top: 17px;
    text-align: center;
}
footer .footDesc li a {
    font-weight: 300;
}
footer {
    padding: 50px 0 0px;
}


.aboutBox .text_side {
     transform: translateY(0)!important; 
}


.page_header h1 {
    font-size: 31px;
}
.page_header ul li {
    font-size: 14px;
}
.page_header {
    padding: 40px 0;
    background-position: center;
}
.page_header h2 {
    font-size: 35px;
    margin-top: 8px;
}
.aboutBox .text_side {
    margin-top: 16px;
}
.aboutBox .text_side h2{
    margin-bottom: 0;
}
.aboutBox .text_side p {
    font-size: 15px;
}

.productSection img {
    margin-top: 0px;
}
.productSectionTop h1{
    font-size: 28px;
}
.productSectionTop .thumbnailTop img {
    width: 100%;
    height: auto!important;
    object-fit: cover;
}
.squareArrowBox {
    width: 25px;
    height: 25px;
    margin: -13px auto 30px;
}
footer .bottomTopBtn {
    margin-right: -6px;
}
footer .footerBottomSec {
    margin-top: 17px;
}
.relatedProduct .card .card-img-top {
    height: 270px;
}
.contactPage .formWrap {
    padding: 22px 22px;
}

.main-slider .swiper-slide h2 {
    font-size: 40px;
}
.prodBox h4.card-title {
    font-size: 19px;
}
.prodBox .card .card-img-top{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.callWhatsapp .contact-whatsapp {
    width: 70px;
    position: fixed;
    bottom: 55%;
    right: 4px;
    z-index: 9999;
    display: inline-block;
    animation: up-down 1s infinite;
}
.productPageSec .prodBox {
     background-image: none; 
     min-height: 100%; 
     width: 100%; 
    background-size: cover;
  }
  .productPageSec .prodBox .card-img-top {
    height: 100%;
  }
  .productPageSec .prodBoxWrap .card-body{
    padding-top: 0;
  }


.addressWrap .borderLine{
    border: none!important;
    border-bottom: 2px solid #fff!important;
    padding-bottom: 15px!important;
    margin-bottom: 15px!important;
 }







}

 @media only screen and (min-width: 1400px) {
    .colXXL {
        -ms-flex: 0 0 16.5%;
        flex: 0 0 16.5%;
        max-width: 16.5%;
    }
    .container {
        max-width: 1140px!important;
    }

}